@import url('../../index.css');

.main-container-about{
    background-color: var(--primary-color);
    /* height: 100vh; */
    height: 100%;
    display: flex;
    align-items: flex;
    justify-content: center;
    /* position: relative; */

}
.text-container::-webkit-scrollbar {
    display: none;
  }

.text-container{
    display: flex;
    font-size: 2em;
    width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    margin-top: 100px;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .text-container{
        font-size: 1.4em;
        width: 80%;
    }
}

@media screen and (max-width: 410px){
    .text-container{
        width: 90%;
        font-size: 1em;
    }
}