@import url('../../index.css');

.main-container{
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.text-container{
    display: flex;
    font-size: 2em;
    width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .text-container{
        font-size: 1.4em;
        width: 80%;
    }
}

@media screen and (max-width: 410px){
    .text-container{
        width: 90%;
        font-size: 1em;
    }
}