@import url('../../index.css');

.main-container-about {
    background-color: var(--primary-color);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--primary-font);
    overflow-y: auto;
    margin-top: 60px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;

}

.content {
    width: 70%;
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .content{
        width: 90%;
    }
}