/* .main-container{
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 0;
} */

.main-container {
    width: 100vw;
    z-index: -1;
    position: fixed;
    height: 100vh;
    overflow: hidden;
}
