@import url('../../index.css');

.tabs-with-projects {
    display: flex;
    height: 100%;
}

.tabs {
    width: 200px;
    min-width: 200px;
    border-right: 1px solid #ccc;
    /* padding: 16px; */
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
}

.tab img {
    width: 20px;
    height: 20px;
    display: none;
}

.tab {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.tab.active {
    background-color: var(--quaternary-color);
    color: white;
}

.tab:hover {
    background-color: #717171;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 16px;
    flex-grow: 1;
    overflow-y: auto;
}


@media screen and (max-width:768px) {

   

}


@media screen and (max-width: 520px) {
    .tabs {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        border-bottom: 1px solid white;
        border-right: none;
    }

    .tab div {
        display: none;
    }

    .tab img {
        display: block;
    }
    .projects-grid {
        flex-direction: row;
        justify-content: center;
    }

    .tabs-with-projects {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}